ModernBERT Embed ES Legal/Data/*
ModernBERT Embed ES Legal/userPreferences.*
ModernBERT Embed ES Legal/Project/DerivedData/formAttributes.json
ModernBERT Embed ES Legal/Project/DerivedData/methodAttributes.json
